@model List<Product>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Product list</h1>
        </div>
        <div class="col-6">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">New product</a>
        </div>
    </div>

    <table class="table table-bordered table-striped-columns">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Description</th>
            <th>Isbn</th>
            <th>Price</th>
            <th>Price50</th>
            <th>Price100</th>
            <th>ListPrice</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.OrderBy(u => u.Id))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Author</td>
                <td>@obj.Description</td>
                <td>@obj.Isbn</td>
                <td>@obj.Price</td>
                <td>@obj.Price50</td>
                <td>@obj.Price100</td>
                <td>@obj.ListPrice</td>
                <td>
                    <div>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">
                            Edit
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>