@model ShopingCart

<form method="POST">
    <input type="hidden" asp-for="ProductId" />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Model.Product.Name
            </div>
            <div class="col-md-4">
                @Model.Product.Author
            </div>
            <div class="col-md-4">
                @Model.Product.Category.Name
            </div>
            <div class="col-md-4">
                @Html.Raw(@Model.Product.Description)
            </div>
            <div class="col-md-4">
                <label>Count</label>
                <input asp-for="Count" type="number"/>
            </div>
            @* <div class="col-md-4"> *@
            @*     <img src="@("\\" + product.ImageUrl)"> *@
            @* </div> *@
        </div>
        <div class="row">
            <a asp-action="Index">Back</a>
            <button type="submit">
                Add to Cart
            </button>
        </div>
    </div>
</form>
